html {
  padding: 0;
  margin: 0;
  font-family: "Gelasio", serif;
  background-color: #d1c7a1;
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
}
.navbar nav {
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  display: inline-flex;
}

.navbar .links {
  display: inline-flex;
  align-items: center;
}

.link-item {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 25px;
  color: rgb(94, 15, 31);
}

a {
  text-decoration: none;
  padding: 0 10px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin: 0 0 25px 0;
}

.description input[type="text"] {
  height: 200px;
  width: 400px;
  border-radius: 3px;
}

.row1 {
  display: flex;
  justify-content: space-around;
}

.row2 {
  display: flex;
  justify-content: space-around;
}

.genre select {
  width: 200px;
}
